<nav class="navbar navbar-default navbar-fixed-top mynavbar centerContent" style="padding:2px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myHeaderNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#" style="color:orange;">Fizz Buzz</a>
    </div>
    <div class="collapse navbar-collapse" id="myHeaderNavbar">
	<ul class="nav navbar-nav"> 
        <li><a href="/rules">Game Rules</a></li>
		<li><a href="/play">Play</a></li>
    </ul>
	  
     <ul class="nav navbar-nav navbar-right">
        <li><a href="/Logout">logout<span class="ui-icon ui-icon-info">1</span></a></li>
     </ul> 
    </div>
  </div>
</nav>

